*{
    margin: 0;
    padding: 0;
}
.dashboard-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: gray;
    display: flex;
}

.sidebar{
    height: 100vh;
    width: 280px;
    background-color: orange;
    padding: 10px;
    position: relative;
}
.sidebar-top{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.sidebar-menu>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: start;
    list-style: none;
}
.navlink{
    padding: 10px;
    background-color: red;
    width: 80%;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}
.sidebar-logout{
    height: 50px;
    width: 80%;
    border: 2px solid red;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-logout button{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.main{
    flex: 1;
    background-color: red;
}
.dashboard-header{
    height:70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 8px 20px #ddd;

}
.content{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
