*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f7fb;
}

.login-container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-card{
    width:900px;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    box-shadow:0 20px 40px rgba(0,0,0,.2);
}

.login-left{
    width:45%;
    background:linear-gradient(135deg,#4338ca,#6d28d9);
    color:#fff;
    padding:60px 40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.login-left h1{
    font-size:40px;
    margin-bottom:15px;
}

.login-left p{
    font-size:17px;
    line-height:28px;
}

.login-right{
    width:55%;
    padding:50px;
}

.login-right h2{
    text-align:center;
    margin-bottom:30px;
    color:#333;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.input-group input{
    width:100%;
    padding:14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.password-box{
    position:relative;
}

.show-btn{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:none;
    color:#4f46e5;
    cursor:pointer;
    font-weight:bold;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.options a{
    text-decoration:none;
    color:#4f46e5;
}

.login-btn{
    width:100%;
    padding:15px;
    border:none;
    background:#4f46e5;
    color:white;
    font-size:17px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    background:#372fc4;
}

@media(max-width:768px){

.login-card{
    flex-direction:column;
    width:100%;
}

.login-left,
.login-right{
    width:100%;
}

.login-left{
    text-align:center;
    padding:40px 20px;
}

.login-right{
    padding:30px 20px;
}

}