.products-header{
    height: 50px;
    width: 90%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.products-header>button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.product-container{
    margin: 20px auto;
    width: 90%;
}
.product-container>table{
    width: 90%;
    font-size: 20px;
}
.product-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.data{
   text-align: center;
}
.data>button{
    padding:10px 20px;
}